<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header"><%= @service.title %>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active"><%= @service.title %></li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-md-8">
      <%= image_tag(@service.image_url(:main), :class => 'img-responsive') %>
    </div>

    <div class="col-md-4">
      <%= @service.description.html_safe %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Other Services</h3>
    </div>

    <% @services.each do |service| %>
    <div class="col-sm-3 col-xs-6">
      <a href="<%= service_path(service.id) %>">
        <%= image_tag(service.image_url(:list), :class => 'img-responsive img-customer') %>
      </a>
    </div>
    <% end %>

  </div>

</div>
<!-- /.container -->