<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">About</h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">About</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <% if @about.image.present? %>
        <%= image_tag(@about.image_url(:main), :class => 'img-responsive') %>
      <% else %>
        <img class="img-responsive" src="http://placehold.it/750x450">
      <% end %>
    </div>
    <div class="col-md-6">
      <%= @about.description.html_safe %>
    </div>

  </div>

  <!-- Team Member Profiles -->
  <% if @teams.present? %>
  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>

    <% @teams.each do |team| %>
    <div class="col-sm-4">

      <% if team.image.present? %>
          <%= image_tag(team.image_url(:main), :class => 'img-responsive') %>
      <% else %>
          <img class="img-responsive" src="http://placehold.it/750x450">
      <% end %>
      <h3><% team.name %>
        <small><%= team.jobtitle %></small>
      </h3>
      <%= team.about.html_safe %>
      <ul class="list-unstyled list-inline list-social-icons">
        <li class="tooltip-social facebook-link"><a href="<%= team.facebook_url %>" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li class="tooltip-social linkedin-link"><a href="<%= team.linkedin_url %>" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
        </li>
        <li class="tooltip-social twitter-link"><a href="<%= team.twitter_url %>" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li class="tooltip-social google-plus-link"><a href="<%= team.google_talk_url %>" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
      </ul>
    </div>
    <% end %>

  </div>
  <% end %>

  <!-- Our Customers -->

  <% if @customers.present? %>
  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Our Customers</h2>
    </div>

    <% @customers.each do |customer| %>

    <div class="col-md-2 col-sm-4 col-xs-6">

      <% if customer.image.present? %>
          <%= link_to image_tag(customer.image_url(:main), :class => 'img-responsive img-customer'), customer.website, target: '_blank' %>
      <% else %>
          <a href="<%= customer.website %>">
            <img class="img-responsive" src="http://placehold.it/500x300">
          </a>
      <% end %>
    </div>
    <% end %>

  </div>
  <% end %>
</div>
<!-- /.container -->