<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header"><%= @project.title %></h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active"><%= @project.title %></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= image_tag(@project.image1_url(:main), :class => 'img-responsive') %>
    </div>

    <div class="col-md-4">
      <%= @project.description.html_safe %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Projects</h3>
    </div>

    <% @projects.each do |project| %>
        <div class="col-sm-3 col-xs-6">
          <a href="<%= project_path(project.id) %>">
            <%= image_tag(project.image1_url(:list), :class => 'img-responsive img-customer') %>
          </a>
        </div>
    <% end %>

  </div>

</div>
<!-- /.container -->
