<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Company Blog
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">Blog</li>
      </ol>
    </div>

  </div>

  <% @blogs.each do |blog| %>
  <div class="row">

    <div class="col-md-1">
      <p><%= blog.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="col-md-5">
      <a href="<%= blog_path(blog.id) %>">

        <% if blog.image.present? %>
            <%= image_tag(blog.image_url(:main), :class => 'img-responsive') %>
        <% else %>
              <img class="img-responsive" src="http://placehold.it/600x300">
        <% end %>
      </a>
    </div>
    <div class="col-md-6">
      <h3><%= link_to blog.title, blog_path(blog.id) %></h3>
      <p>by <a href="#">Start Bootstrap</a></p>
      <%= get_word_summery(blog.post.html_safe, 100).html_safe %>
      <a class="btn btn-link btn-sm" href="<%= blog_path(blog.id) %>">Read More <i class="fa fa-angle-right"></i></a>
    </div>

  </div>

  <hr>
  <% end %>

  <div class="row">

    <p>
    <ul class="pager">
      <li class="previous"><a href="#">&larr; Older</a>
      </li>
      <li class="next"><a href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>

</div>
<!-- /.container -->
