<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header"><%= @blog.title %></h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active"><%= @blog.title %></li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-8">

      <!-- the actual blog post: title/author/date/content -->
      <hr>
      <p><i class="fa fa-clock-o"></i> Posted on <%= @blog.created_at.strftime("%B %d, %Y") %> by <a href="#"><%= @blog.admin_user.full_name %></a>
      </p>
      <hr>
      <% if @blog.image.present? %>
          <%= image_tag(@blog.image_url(:main), :class => 'img-responsive') %>
      <% else %>
          <img class="img-responsive" src="http://placehold.it/900x300">
      <% end %>
      <hr>
      <%= @blog.post.html_safe %>

      <hr>

      <!-- the comment box -->
      <!--<div class="well">-->
        <!--<h4>Leave a Comment:</h4>-->
        <!--<form role="form">-->
          <!--<div class="form-group">-->
            <!--<textarea class="form-control" rows="3"></textarea>-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</form>-->
      <!--</div>-->

      <!--<hr>-->

      <!-- the comments -->
      <!--<h3>Start Bootstrap-->
        <!--<small>9:41 PM on August 24, 2013</small>-->
      <!--</h3>-->
      <!--<p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>-->

      <!--<h3>Start Bootstrap-->
        <!--<small>9:47 PM on August 24, 2013</small>-->
      <!--</h3>-->
      <!--<p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>-->

    </div>

    <!--<div class="col-lg-4">-->
      <!--<div class="well">-->
        <!--<h4>Blog Search</h4>-->
        <!--<div class="input-group">-->
          <!--<input type="text" class="form-control">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                            <!--</button>-->
                        <!--</span>-->
        <!--</div>-->
        <!--&lt;!&ndash; /input-group &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /well &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
        <!--&lt;!&ndash;<h4>Popular Blog Categories</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--&lt;!&ndash;<%# @categories.each do |category| %>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-lg-6">&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="list-unstyled">&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#dinosaurs"><%#= category.name %></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<%# end %>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
  </div>

</div>
<!-- /.container -->
