<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header"><%= @product.title %></h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active"><%= @product.title %></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= image_tag(@product.image_url(:main), :class => 'img-responsive') %>
    </div>

    <div class="col-md-4">
      <%= @product.description.html_safe %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Products</h3>
    </div>

    <% @products.each do |product| %>
        <div class="col-sm-3 col-xs-6">
          <a href="<%= product_path(product.id) %>">
            <%= image_tag(product.image_url(:list), :class => 'img-responsive img-customer') %>
          </a>
        </div>
    <% end %>

  </div>

</div>
<!-- /.container -->
